<!DOCTYPE html>
<html>
<head>
    <title>folk.vet</title>
</head>

<body>

<div>
  <div>
      <img width="100%" src="/folkvet.jpg">
    <audio controls  autoplay>
        <source src="folkvet.mp3" type="audio/mpeg">
Du får ikke lyden      </audio> 
  </div>
</div>


</body>
</html>